#root {
  /* max-width: 1280px; */
  min-width: max-content;
  margin: 0px;
  /* padding: 2rem; */
  text-align: center;
  color: aliceblue;
  height: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  border: 2px solid aliceblue;
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
  max-width: fit-content;
}

.container label {
  text-align: left;
  font-weight: bold;
}

.container textarea {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  size: 80px;
}

.container input{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: fit-content;
}

.buttons button{
  margin: 10px;
}

.card {
  display: flex;
  margin: 0px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 50px 25px 50px;
  /* border: 2px solid aliceblue; */
  border-radius: 20px;
  background-color: #242424;
  box-sizing: border-box;
}

.fields-container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px 20px 10px 20px; */
  /* padding: 50px; */
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: fit-content;
}